body {
	font-family: Arial, sans-serif;
	text-align: center;
    }
    
    #game-container {
	display: inline-grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(4, 100px);
	grid-gap: 5px;
	background-color: #ccc;
	padding: 5px;
	margin-bottom: 20px;
    }
    
    .tile {
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px; /* Add this line to round tile corners */
    }
    
    /* Add the following block for button styling */
    #controls {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
    }
    
    .move-button {
	background-color: #8f7a66;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	margin: 5px;
	cursor: pointer;
    }
    
    .move-button:hover {
	background-color: #9d8970;
    }
    